.THIS {
}

.THIS .defaultClass{
    cursor:default;
}

.THIS .defaultClass > a {
    cursor: default;
}


.THIS .a.defaultClass{
    cursor: default;
}

.THIS .slds-breadcrumb .defaultClass::before {
    content: ">";
    position: absolute;
    left: -0.25rem;
}