.THIS .slds-lookup__menu {
	margin-top: 0;
}

.THIS mark {
    background-color: transparent;
}

.THIS .slds-lookup__item-action:hover {
    outline: 0;
    background-color: #f4f6f9;
    color: #16325c;
    text-decoration: none;
    cursor: pointer;
}

.THIS .slds-lookup__item-action {
    font-size: .8125rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .25rem .5rem;
    color: #16325c;
    text-align: left;
    width: 100%;
    line-height: 1.5;
    border-radius: 0;
}