<apex:page controller="AdminTools" standardStylesheets="false" sidebar="true">
    
    <apex:form >
        
        <apex:outputPanel id="main">
            <apex:sectionHeader title="Mass Update Test Users" />
        
            <apex:pageMessages />
            
            <apex:pageblock title="Bulk User Manager" mode="edit">
                <apex:pageblockButtons location="bottom">
                    <apex:commandButton action="{!updateAllUsers}" value="Update All Users" reRender="main"/>
                    <apex:commandButton action="{!updateLicenseCosts}" value="Update License Costs" reRender="main"/>
                </apex:pageblockButtons>
                <apex:pageBlockSection columns="1">
                    <apex:pageBlockSectionItem helpText="This sets the password for ALL test users">
                        <apex:outputLabel value="Set New Password" for="password_input"/>
                        <apex:inputText value="{!allNewPassword}" html-placeholder="Password" id="password_input"/>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem helpText="This will apply to ALL test users">
                        <apex:outputLabel value="Status" for="password_input"/>
                        <apex:selectList value="{!allNewStatus}" multiselect="false" size="1">
                            <apex:selectOptions value="{!statusOptions}"></apex:selectOptions>
                        </apex:selectList>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
            </apex:pageblock>
            
            <apex:pageblock title="Individual User Manager" mode="edit">
                <apex:pageblockButtons location="both">
                    <apex:commandButton action="{!updateEachUser}" value="Apply Updates"/>
                </apex:pageblockButtons>
                <apex:pageBlockSection title="Manage Each User" columns="1">
                    <apex:pageblockTable value="{!testUsers}" var="tu">
                        <apex:column title="Active?" width="1" style="text-align:center;">
                            <apex:facet name="header">Active?</apex:facet>
                            <apex:inputCheckbox value="{!tu.newStatus}"/>
                        </apex:column>
                        <apex:column value="{!tu.user.name}" title="Name"/>
                        <apex:column title="Name">
                            <apex:facet name="header">Set New Password</apex:facet>
                            <apex:inputText value="{!tu.newPassword}" html-placeholder="Password"/>
                        </apex:column>
                    </apex:pageblockTable>
                </apex:pageBlockSection>
            </apex:pageblock>
        </apex:outputPanel>
        
    </apex:form>
    
</apex:page>