<apex:page standardController="NI_Order__c" extensions="NI_DispatcherOrderViewExtension"  
    action="{!redirectToExternalObject}">
    <apex:includeScript value="{!URLFOR($Resource.Resources_jQueryMobile, 'jquery-1.9.1.min.js')}"/>
    <script>
    
    $(document).ready(function(){
         var oId = '{!orderId}';
         
         if( (typeof sforce.one != 'undefined') && (sforce.one != null) && {!orderFound}) {
            sforce.one.navigateToSObject(oId);
         }
    });
    
    </script>  
    
    <apex:pageMessages />
    
</apex:page>