<apex:page standardController="NI_OD_QUOTE_HDR_ALL_V__x" extensions="NI_WebQuote_Extension"  
    action="{!redirectToWebQuotePage}">
    
    <apex:outputField value="{!NI_OD_QUOTE_HDR_ALL_V__x.ORACLE_HEADER_ID__c}" rendered="false"/> 
    <apex:outputField value="{!NI_OD_QUOTE_HDR_ALL_V__x.QUOTE_NUMBER__c}" rendered="false"/> 
        <apex:outputField value="{!NI_OD_QUOTE_HDR_ALL_V__x.QUOTE_NAME__c}" rendered="false"/> 
    <apex:pageMessages />
    
</apex:page>